.ECTPopup { background:#f6f6f6; border:3px double #666666; }'+
.ECTPopupContainer { display:none; position:absolute; top:0; right:0; bottom:0; left:0; }
.ECT { background: none; border-spacing: 0; border:0; padding:0; line-height:100%; margin: 0;}
.ECTImportant { font-weight:bold; }
.ECTtooltip { border: 1px solid black; visibility: hidden; top: 0px; left: 0px; position: fixed; background-color: lightyellow; z-index: 10000; width: 0px; height: 0px; }
.ECTActivityIndicator { font-size: 7pt; direction:ltr; }
